<section>
    <div class="pomodoro-container">
        <h1>Pomodoro</h1>
        
        <div class="panel">
            <mat-button-toggle-group name="timeInterval">
                <mat-button-toggle value="work" (click)="startWorkTime()">Work</mat-button-toggle>
                <mat-button-toggle value="break" (click)="startBreak()">Break</mat-button-toggle>
                <mat-button-toggle value="long-break" (click)="startLongBreak()">Long Break</mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="timer">
            <div class="timer-circle">
                <div class="time">
                    <p id="minutes">{{minutes}}</p>
                    <p>:</p>
                    <p id="seconds">{{seconds}}</p>
                </div>
            </div>
        </div>
    
        <div class="controls">
            <button mat-button id="start" (click)="startTime()">Start</button>
        </div>
    
        <div class="theme-btn">
    
        </div>
    
    </div>
</section>
