<div class="dialog-header">
    <h1 mat-dialog-title>Submit Feedback</h1>
    
    <mat-dialog-actions>
        
        <button class="close-dialog" mat-button mat-dialog-close>
            <span class="X"></span>
            <span class="Y"></span>
        </button>
    </mat-dialog-actions>
</div>
<div class="dialog-sub-header">
    <h3>Have a feature request or found a bug? Let us know!</h3>
</div>


    <div class="feedback-form">
        <mat-dialog-content>
            <form action="https://api.web3forms.com/submit" method="POST" class="contact-form">
                <input type="hidden" name="access_key" value="99561fa0-f56e-4845-8e2d-838ab6bda459">
                <div class="input-info">
                    <div class="input-info-header">
                        <h3>Name</h3>
                        <h3>Email</h3>
                    </div>
                    <input type="text" name="name" placeholder="Enter your name" required>
                    <input type="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-message">
                    <h3>Feedback</h3>
                    <textarea name="message" placeholder="Enter your message" required></textarea>
                </div>
                <button type="submit" class="submit-btn">Submit<img src="" alt=""></button>
            </form>
    
        </mat-dialog-content>
    </div>
        



