<div class="dialog-header">
  <h1 mat-dialog-title>Info</h1>
  <mat-dialog-actions>
    <button class="close-dialog" mat-button mat-dialog-close>
      <span class="X"></span>
      <span class="Y"></span>
    </button>
  </mat-dialog-actions>
</div>

<mat-dialog-content>
  <div class="info-text">
    <h3>
      StudyFlow is here to help you manage your time. Inspired by the Pomodoro Technique
      by Francesco Cirillo, StudyFlow allows you to focus your work in 25 minute increments, with short 5 minute breaks
      in-between.
    </h3>
  </div>
</mat-dialog-content>