<div class="dialog-page">
    <div class="dialog-header">

        <mat-dialog-actions>
            <button class="close-dialog" mat-button mat-dialog-close>
                <span class="X"></span>
                <span class="Y"></span>
            </button>
        </mat-dialog-actions>
    </div>
    <div class="dialog-sub-header">
        <div class="image-circle">
            <img src="../../../assets/images/kent_portfolio.jpg" alt="">
        </div>
    </div>
    
    
    
    <mat-dialog-content>
        <div class="info-text">
            <h3>
                Hello there, I'm Kent! I work as a software engineer at a non-profit organization called Capital Vietnamese
                Christian Fellowship, and I'm currently a rising junior in college. I have a passion for learning and
                creating. One of the challenges I often encounter is burnout, which is why I developed this application. Its
                purpose is to enhance my study efficiency and help me avoid burnout. Thank you for taking the time to check
                out my application!
            </h3>
        </div>
    </mat-dialog-content>
</div>
