<section>
    <div class="pomodor-container">
        <div class="panel">
            <button mat-button id="work" (click)="startWorkTime()">Work</button>
            <button mat-button id="break" (click)="startBreak()">Break</button>
            <button mat-button id="long-break" (click)="startLongBreak()">Long Break</button>
        </div>
        <div class="timer">
            <div class="timer-circle">
                <div class="time">
                    <p id="minutes">25</p>
                    <p>:</p>
                    <p id="seconds">00</p>
                </div>
            </div>
        </div>
    
        <div class="controls">
            <button mat-button id="start" (click)="startTime()">Start</button>
        </div>
    
        <div class="theme-btn">
    
        </div>
    
    </div>
</section>
