/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: hsl(235, 35%, 19%); // Not in use
    --color-secondary: #4fc1e9; // Not in Use
    --color-font: #191919E6;
    --color-shadow: hsl(0, 0%, 90%);
    --color-white: #f9f9f9;

    .fa-adjust {
        color: var(--color-font);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Poppins', sans-serif;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

html,
body {
    height: 100%;
    background-color: var(--color-white);
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    font-family: "Work Sans", sans-serif; 
}

.dialog-page {
    width: 540px;
}

.close-dialog {
    position: relative;
    width: 6em;
    height: 1.5rem;
    border: none;
    background: none;
}

.X {
    content: '';
    position: absolute;
    top: 50%;
    left: 33%;
    width: 2em;
    height: 1.5px;
    background-color: black;
    transform: rotate(45deg);
  }
  
  .Y {
    content: '';
    position: absolute;
    top: 50%;
    left: 33%;
    width: 2em;
    height: 1.5px;
    background-color: black;
    transform: rotate(-45deg);
  }

  .mdc-dialog__actions {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    border-top: 1px solid rgba(0,0,0,0);
}

.elevate-button {
    width: 10vh;
    font-size: 14px;
    display: inline-block;
    outline: 0;
    border: 0;
    margin-left: 0.5rem;
    cursor: pointer;
    will-change: box-shadow, transform;
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%), 0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    border-radius: 0.3em;
    color: #fff;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.elevate-button:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
    transform: translateY(-0.1em);
}

.elevate-button:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}

.start-btn {
    @extend .elevate-button;
    background-color: #a0d468;
}

.restart-btn {
    @extend .elevate-button;
    background-color: #de172b;
}

.pause-btn {
    @extend .elevate-button;
    color: hsla(0, 0%, 10%, 0.902) !important;
}

.submit-btn {
    @extend .elevate-button;
    margin-left: 0px;
    background-color: var(--color-font);
}